* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Railway", Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 98px;
    background-color: #ffffff;
    width: 1100px;
    gap: 0px;
}

.header__logo {
    display: block;
    height: 105px;
    width: 1052px;
}

.header__menu {
    display: flex;
    margin-left: 20px;
    gap: 20px;
}

.header__nav {
    list-style: circle;  
}

/* Сброс маркера для активного элемента */
.header__menu-item_active {
    margin-left: 0;
    list-style-type: none;
}
.header__menu-item_active .header__menu-item_active{
    text-decoration: none; /* Убираем подчеркивание только у активного элемента */
}

/* Другие стили */
.header__link  img {
    Width: 148px;
   Height: 105px;
}

.address {
    text-align: left;
    font-style: normal;
    line-height: 21.13px;
    font-size: 18px;
    width: 237px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    min-height: 757px;
    background-size: cover;
    background-position: center;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
}

.card {
    background-size: cover; /* Покрывает весь блок */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Без повторения изображения */
    width: 300px; /* Ширина карточки */
    overflow: hidden; /* Скрыть переполнение */
    display: flex; /* Флекс-контейнер для выравнивания содержимого */
    align-items: flex-end; /* Выровнять содержимое по нижнему краю */
    color: white; /* Цвет текста */
    position: relative; /* Для абсолютного позиционирования элементов внутри */
}

.card_type_book {
    background-image: url("../images/card-lot-01.jpg"); /* Заменим на изображение для книги */
}

.card_type_film {
    background-image: url("../images/card-lot-02.jpg"); /* Заменим на изображение для фильма */
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg"); /* Заменим на изображение для картины */
   
}

/* Пример для добавления текста или других элементов */
.card_type_book::before,
.card_type_film::before,
.card_type_picture::before {
    content: " "; /* Пустое содержимое для создания эффекта наложения */
    position: absolute;
    bottom: 0; /* Приклеить к нижней части карточки */
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    color: white; /* Цвет текста сверху */
    display: flex; /* Используем флекс для выравнивания */
    justify-content: center; /* Центрировать текст по горизонтали */
    align-items: center; /* Центрировать текст по вертикали */
}

/* Пример для заголовка внутри карточки */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 1;
    z-index: 1;
    position: relative;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.cover__description {
    display: flex;
    position: relative;
    z-index: 2;
    text-align: center;
    gap: 10px;
     margin-top: 20px; /* Добавляем  сверху для сдвига вниз */
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}

.cover__description-text {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
}

.bet-button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Raleway", Arial, sans-serif;
    line-height: 25.83px;
    font-size: 22px;
}

.lots {
    padding: 180px 20px;
}

.lots__heading {
    font-size: 40px;
    margin: 40px 27px;
    text-transform: uppercase;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    flex: 1;
    min-width: 300px;
    margin: 0px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: inherit;
     height: 100%;
}

.card {
    position: relative;
     min-height: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    justify-content: space-between;
}

.card__title {
    font-size: 22px; /* Размер шрифта заголовка */
    line-height: 26.4px; /* Высота строки заголовка */
    color: #ffffff; /* Цвет текста заголовка */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    text-decoration: underline;
    position: relative; 
    z-index: 10; 
}

.card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон оверлея */
    z-index: 5;
}

.card p {
    font-size: 20px;
    line-height: 24px; /* Высота строки текста */
    color: #ffffff; /* Цвет текста абзаца */
    margin: 10px 0;
    position: relative;
    z-index: 10;
}

.lots__look-more-link {
    /* Стили для ссылки "Посмотреть больше" */
    font-size: 20px; /* Размер шрифта ссылки */
    color: #000000; /* Цвет текста ссылки */
    text-decoration: underline; /* Подчеркивание текста ссылки */
    margin-top: 10px;
    margin-left: 40px;
}
.card a:hover {
    /* Эффект при наведении на ссылку */
    text-decoration: underline; /* Подчеркивание при наведении */
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    margin-bottom: 140px;
    padding-left: 40px; 
}

.about__column {
    padding: 10px;
}

.about__logo {
    display: flex; /* Выравнивание по центру */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    width: 240px; /* Ширина круга */
    height: 240px; /* Высота круга */
    border-radius: 50%; /* Скругление углов для круга */
    background-color: black; /* Цвет фона круга */
    padding: 40px; /* Отступ между логотипом и краем круга */
}

.about__logo img {
    max-width: 100%; /* Ограничиваем ширину изображения */
    height: auto; /* Автоматическая высота для соблюдения пропорций */
}

.about h2 {
    /* Замените h2 на нужный тег заголовка, если нужно */
    font-size: 40px; /* Размер шрифта заголовка */
    line-height: 46.96px; /* Высота строки заголовка */
    text-transform: uppercase;
    margin-bottom: 100px; /* Отступ снизу заголовка */
    margin-top: 40px;
}

/* Стили для абзацев текста внутри блока .about */
.about p {
    font-size: 20px; /* Размер шрифта абзаца */
    line-height: 24px; /* Высота строки абзаца */
    margin-bottom: 20px; /* Отступ снизу абзаца */
    color: #000000; /* Цвет текста абзаца */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    background-color: #ffffff;
}

.footer__menu {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 48px;
}

.footer__social-list-item {
    margin-left: 10px;
}
.footer__menu li :first-child a {
    text-decoration: none; /* Убираем подчеркивание только у первой ссылки */
}

/* Подчеркивание для всех других ссылок */
.footer__menu a {
    text-decoration: underline; /* Подчеркивание для всех ссылок */
    color: #000000;
}

.footer__address {
    font-size: 18px; /* Размер шрифта */
    line-height: 21px; /* Высота строки */
    font-style: normal; /* Нормальное начертание шрифта */
    max-width: 237px; /* Максимальная ширина */
    text-align: right; /* Выравнивание текста по правому краю */
    margin: 0; /* Убираем отступы по умолчанию */
}

.images {
    /* Изменён класс для иконок */
    width: 48px; /* Изменён размер */
    height: 48px; /* Изменён размер */
}
